---
layout: default
---
<div class="panel panel-info">
  <div class="panel-heading">Links on my works:</div>
  <div class="panel-body">
    <a href="{{ '/vklessons' | prepend: site.baseurl }}">Vulkan Lessons</a>
  </div>
</div>
{% for n_post in site.posts %}
<div class="blog-post">
  <h3>
    <a href="{{ n_post.url | prepend: site.baseurl }}">{{ n_post.title }}</a>
    <small>{{ n_post.date | date: "%d.%m.%Y" }}</small>
  </h3>
  {% if n_post.excerpt %}
    {% if n_post.thumbnail %}
      <p><img class="img-thumbnail" src="{{ n_post.thumbnail | prepend: site.baseurl }}"></p>
    {% endif %}
    <p>{{ n_post.excerpt | strip_html | strip_newlines }}</p>
  {% endif %}
</div>
{% endfor %}
